{% extends 'base.html.twig' %} {% block body %} {% for message in app.flashes('notice') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-5">
    {% for events in events %}
    <div class="col d-flex justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img class="card-img-top " src="{{events.image}} " alt="Card image cap ">
                <h5 class="card-title">{{events.name}}</h5>
                <p class="card-text">{{events.type}}</p>
                <p class="card-text">{{events.date|date('F j, Y, g:i a')}}</p>

                <a href="/details/{{events.id}}" class="btn btn-success">Details</a>
                <a href="/edit/{{events.id}}" class="btn btn-warning">Edit</a>
                <a href="/delete/{{events.id}}" class="btn btn-danger">Delete</a>
            </div>
        </div>

    </div>


    {% endfor %} {% endblock %}